[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
django-extensions = "*"
djangorestframework = "*"
django-dotenv = "*"
markdown = "*"
django-filter = "*"
requests = "*"
psycopg2-binary = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"


[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
